.Card{
    width:max-content;
    padding: 2rem;

    border-radius: 10px;
  background-color: aliceblue;
  margin: auto;
  margin-top: 10px;
   
   animation: card 5s infinite;
   box-shadow:  2px 1px white;
  
}
@keyframes card{
  100%{
    background-color: rgb(158, 240, 212);
    color: rgb(12, 12, 61);

  }
  
}